@model PortalStoreFier.Models.NewPricePack

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NewPricePack</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractStartingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractStartingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.ContactNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PricePack)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PricePack.Cost)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
